*{
    background-color: aqua;
}


.home-page {
    text-align: center;
}

.main-title{
    color : rgb(3, 119, 13);
    font-size: 30px;
    font-weight: bold; 
    font-family: "Georgia", sans-serif;
}


.message-title{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

/*.message-title a{
    text-decoration: none;
    color: rgb(255, 60, 0);
    
    display: block;
}

.message-title a::before{
    content:"";
    position: absolute;
    background: #40705f;
    height: 6px;
    width: 12%;
    display: block;
    bottom : 360px;

    left: 280;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

.message-title a:hover:before{
    transform: scaleX(1);
}*/

.message-title .join{
    position: relative;
    border: none;
    text-decoration: none;
    color: rgb(255, 60, 0);
    font-size: 20px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
}

.message-title .join::before, .message-title .join::after{
    content: "";
    position: absolute;
    z-index: -1;
}

.message-title .join:hover{
    background: rgb(59, 3, 131);
    box-shadow: 0 0 5px #f6e05e, 0 0 25px #f6e05e, 0 0 50px #f6e05e, 0 0 200px #f6e05e;
    color : #e91414
}


.welcome-message
{
    font-family: "Copperplate", "Papyrus", "fantasy";
    color : rgb(28, 11, 82);
}


.menu-page{
    text-align: center;
    background-color: aqua;

}

.choose-option{
    display: inline-block;
}

.choose-option ul{
    list-style-type: none;
}
.choose-option ul li a{
    text-decoration: none;
    display: block;
}