*{
    background-color: rgb(187, 233, 246);
}


.home-page {
    text-align: center;
}

.main-title{
    color : rgb(3, 119, 13);
    font-size: 30px;
    font-weight: bold; 
    font-family: "Georgia", sans-serif;
}


.message-title{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

/*.message-title a{
    text-decoration: none;
    color: rgb(255, 60, 0);
    
    display: block;
}

.message-title a::before{
    content:"";
    position: absolute;
    background: #40705f;
    height: 6px;
    width: 12%;
    display: block;
    bottom : 360px;

    left: 280;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

.message-title a:hover:before{
    transform: scaleX(1);
}*/

.message-title .join{
    position: relative;
    border: none;
    text-decoration: none;
    color: rgb(255, 60, 0);
    font-size: 20px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    border-radius: 3px;
}

.message-title .join::before, .message-title .join::after{
    content: "";
    position: absolute;
    z-index: -1;
}

.message-title .join:hover{
    background: #f6e05e;
    box-shadow: 0 0 5px #f6e05e, 0 0 25px #f6e05e, 0 0 50px #f6e05e, 0 0 200px #f6e05e;
    color : #e91414
}


.welcome-message
{
    font-family: "Copperplate", "Papyrus", "fantasy";
    color : rgb(28, 11, 82);
}


.menu-page{
    text-align: center;

}

.choose-option{
    display:inline-flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.choose-option nav{
    font-family: "Poppins", sans-serif;

}


.choose-option nav ul{
    list-style-type: none;

}


.choose-option nav ul li {
    vertical-align: baseline;
    position: relative;
    margin-top: 10px;
    padding-left: 30px;
    width: default;
    display: inline-block;
}
.choose-option nav ul li a{
    color: blue;
    text-decoration: none;
    display: block;
}


.choose-option nav  ul li a::after{
    content : "";
    height : 4px;
    width : 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: relative;
    left : 0;
    background: blueviolet;
    transition: 1.0s;
    bottom: -0px;
    display: block;

}   





.choose-option nav  ul li a:hover::after{
    width: 100%;

}


.bmi-page{
    text-align: center;
}


.menu-title{
    color : rgb(3, 119, 13);
    font-size: 22px;
    font-weight: bold; 
    font-family: "Copperplate", fantasy;
}


.bmi-title{
    color : rgb(3, 119, 13);
    font-size: 22px;
    font-weight: bold; 
    font-family: "Lucida Handwriting", cursive;
}

.height-info{
    color: blue;
    font-size: 18px;
    justify-content: space-evenly;
    margin-top: 10px;
    font-family: "Monaco", Monospace;
}

.height-info input{
    color: blue;
    font-size: 18px;
    font-family: "Monaco", Monospace;
}

.weight-info{
    color: blue;
    font-size: 18px;
    margin-top: 10px;
    justify-content: space-evenly;

    font-family: "Monaco", Monospace;
}

.weight-info input{
    color: blue;
    font-size: 18px;
    font-family: "Monaco", Monospace;
}


.workout-generator-page{
    text-align: center;

}








